:root {
    --clr-bg: hsl(323 21% 16%);
    --clr-neon: hsl(317 100% 54%);
}

.navbar {
    padding: 0.5em 1em 2em 1em;
    display: flex;
    align-items: center;
    background-color: var(--clr-bg); 
}

.navbar h1 {
    color: rgb(230, 15, 122);
    color: var(--clr-neon);
    font-size: 2.5em;

}

.navbar h1:hover {
    color: rgb(230, 15, 122);
    color: var(--clr-neon);
    text-shadow:  0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em currentColor;     
}

.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    font-size: 1.5em;
    padding: 6px;
    color: rgb(230, 15, 122);
    color: var(--clr-neon);
}

@media only screen and (max-width: 576px) {
    .navbar h1 {
        font-size: 1.8em;
    }

    .navbar a {
        font-size: 1.1em;
        margin-left: 0;
    }

}

@media only screen and (min-width: 760px) {
    .navbar a:hover {
        color: var(--clr-neon);
        font-weight: 700;
        font-size: 1.52em;
        text-shadow:  0 0 0.125em hsl(0 0% 100% / 0.3),
          0 0 0.45em currentColor; 
    }

    .navbar h1:hover {
        color: rgb(230, 15, 122);
        color: var(--clr-neon);
        text-shadow:  0 0 0.125em hsl(0 0% 100% / 0.3),
          0 0 0.45em currentColor;     
    }
}

@media only screen and (max-width: 380px) {
    .navbar h1 {
        font-size: 1.3em;
    }

    .navbar a {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 305px) {

    .navbar h1 {
        font-size: 1em;
    }

    .navbar a {
        font-size: 0.8em;
    }
}
