:root {
    --clr-neon: rgb(184, 206, 19);
    --clr-bg: hsl(323 21% 16%);
    --clr-neon: hsl(317 100% 54%);
}

.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    /* max-width: 600px; */
    margin: 0 auto;
    /* border-bottom: 1px solid lightblue; */
    background-color: var(--clr-bg);
    
}

.navbar h2 {
    color: rgb(230, 15, 122);
    color: var(--clr-neon)
}

.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color: rgb(230, 15, 122);
    color: var(--clr-neon);
}

.navbar a:hover {
    color: rgb(112, 4, 58);
    font-weight: 700;
    font-size: large;
}
