.questionClass {
    background-color: white;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 16px;
    margin: 10px auto;
    min-width: 400px;
    max-width: 900px;
    text-align: center;
    color: rgb(245, 67, 156);
}

.button-overall {
    column-count: 2;
    padding: 20px 450px;
}

.normal-button {
    /* add neon buttons to replace these*/
    background-color: white;
    width: 380px;
    height: 80px;
    padding: 8px;
    margin: 24px;
    color: orange;
    font-weight: bolder;
    font-size: larger;
    border-radius: 10px;
    outline: none;
    /* maybe add border */
    border: none;
    justify-content: center;
}

.normal-button:hover {
    transform: scale(1.1);
    transition: transform 300ms ease-in-out;
    cursor: pointer;
}
