@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
    --clr-neon: rgb(184, 206, 19);
    --clr-bg: hsl(323 21% 16%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--clr-bg);
    font-family: 'Lora', serif;
    color: var(--clr-neon);
    
} */

button {
      background: none;
      font-family: 'Lora', serif;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.neon-button {
      font-size: 3rem;
      display: inline-block;
      cursor: pointer;
      text-decoration: none;
      color: var(--clr-neon);
      border: var(--clr-neon) 0.125em solid;
      padding: 0.25em 1em;
      margin: 20px;
      border-radius: 0.25em;

      text-shadow:  0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em currentColor; 

      box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);position: relative;
      
}

.neon-button::before {
      pointer-events: none;
      content: "";
      position: absolute;
      background: var(--clr-neon);
      top: 120%;
      left: 0;
      width: 100%;
      height: 100%;

      transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
      filter: blur(1.5em);
      opacity: 0.7;
}

.neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
}

.neon-button:focus,
.neon-button:hover {
      color: var(--clr-bg);
      text-shadow: 0;
}

.neon-button:focus::before,
.neon-button:hover::before {
      opacity: 1;
}

.neon-button:focus::after,
.neon-button:hover::after {
      opacity: 1;
}
