/* *, html {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
} */

body {
    /* overflow: auto; */
}

.container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
