.timer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}